:root {
  --viewport-tag-padding: 20px;
}

.ViewportOverlay {
  color: #9ccef9;
}
#dicomTag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ViewportOverlay .overlay-element,
#dicomTag .overlay-element {
  position: absolute;
  font-weight: 400;
  text-shadow: 1px 1px black;
  pointer-events: none;
  color: white;
}

.ViewportOverlay .top-left,
#dicomTag .top-left {
  top: var(--viewport-tag-padding);
  left: var(--viewport-tag-padding);
}

.ViewportOverlay .top-center {
  top: var(--viewport-tag-padding);
  padding-top: var(--viewport-tag-padding);
  width: 100%;
  text-align: center;
}

.ViewportOverlay .top-right,
#dicomTag .top-right {
  top: var(--viewport-tag-padding);
  right: var(--viewport-tag-padding);
  text-align: right;
}

.ViewportOverlay .bottom-left,
#dicomTag .bottom-left {
  bottom: var(--viewport-tag-padding);
  left: var(--viewport-tag-padding);
}

.ViewportOverlay .bottom-right,
#dicomTag .bottom-right {
  bottom: var(--viewport-tag-padding);
  right: var(--viewport-tag-padding);
  text-align: right;
}

.ViewportOverlay svg {
  color: #9ccef9;
  fill: #9ccef9;
  stroke: #9ccef9;
  background-color: transparent;
  margin: 2px;
  width: 18px;
  height: 18px;
}

.ViewportOverlay .top-left .follow-state {
  font-size: 20px;
}
