

input[type='range'] {
  background: transparent;
  transform: rotate(90deg);
  position: absolute;
  top: 428px;/* 230px */
  left: 550px;/* 465px */
  width: 850px;/* 400px */
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  zoom: 0.9;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 200px;
  height: 10px;
  background: #AAA;
}
input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 30px;
  width: 30px;
  margin-top: -10px;
  background: steelblue;
  border-radius: 50%;
  border: 2px solid white;
}
input[type='range']::-webkit-slider-thumb::before {
  position: absolute;
  content: '';
  height: 10px; /* equal to height of runnable track */
  width: 500px; /* make this bigger than the widest range input element */
  left: -502px; /* this should be -2px - width */
  top: 8px; /* don't change this */
  background: #777;
}

.highlighted {
  background-color:#d1d1d1;
  /* background-color: #F7FCFD; */
  color: black;
}

.ui.grid {
  margin-top: 50px;
  margin-left: 30px;
}

table#nodule-table {
  /* width: 520px; */
  background: #021c38;
}

#button-container {
  width: 816px;
  text-align: center;
  height: 20px;
}

#page-indicator{
  text-align: center;
  width:100px;
}

#showNodules{
  text-align: left;
  display: inline-block;
  margin-left: 50px;
  /* position: absolute; */
  /* margin-top: 7px; */
}

#immersive-button-container {
  width: 1280px;
  text-align: center;
  margin: 20px auto;
}

.immersive-header {
  width: 1280px;
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 20px;
  cursor: pointer;
}

#immersive-panel {
  margin: 30px auto;
  text-align: center;
  width: 1280px;
}

.invisible {
  display: none;
}

#page-indicator {
  color: white;
  display: inline-block;
  margin-left: 200px;
  margin-right: 200px;
  /* margin:auto; */
}

#caseId-header {
  color: white;
}

#annotator-header {
  color: white;
}

/* #cornerstone {
  margin-top: 50px;
  margin-left: 70px;
} */

#cache-button {
  margin-left: 5px;
}

#immersive-hover{
  color: #4183c4;
  /* width: 100px; */
  text-align: center;
  font-size: 18px;
}

#immersive-hover:hover{
  color: rgb(190, 190, 190);
  cursor: pointer;
}

#immersive-return{
  color: #4183c4;
}

#immersive-return:hover{
  color: rgb(190, 190, 190);
  cursor: pointer;
}

/* .canvas-style{
  margin-left: 100px;
} */

#elec-table{
  /* position: relative; */
  height: 700px;
  table-layout: fixed;
  margin-top: 0px;
}

.table-body{
  background: #021c38;
  background-color: transparent;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 700px;
  /* max-width:530px; */
  border-radius: 5px;
}

#body-color{
  background: #021c38;
  color: white;
  text-align: left;
  font-size:medium;
}

#table-color{
  background:transparent;
}

.table-body::-webkit-scrollbar{
  /* max-height: 400px; */
  background: transparent;
  background-color: #42424249;    
  border-radius: 5px;
}

/* .ui.selection.dropdown{
  background: rgba(1, 23, 46, 0.997) !important;
} */

/* .ui.selection.dropdown>.delete.icon, .ui.selection.dropdown>.dropdown.icon, .ui.selection.dropdown>.search.icon{
  color:#2af270;
} */

/* .ui.dropdown>.text{
  color: #2af270 !important;
} */

/* .ui.dropdown .menu .selected.item, .ui.dropdown.selected{
  background: rgba(1, 23, 46, 0.997) !important;
  color: #2af270 !important;
} */

/* .ui.styled.accordion, .ui.styled.accordion .accordion{
  background:rgba(1, 23, 46, 0.997) !important;
}

.ui.styled.accordion{
  width: 300px !important;
}

.ui.styled.accordion .accordion .title, .ui.styled.accordion .title{
  color:#2af270 !important;
} */
.accordation{
  position: absolute;
  background:rgba(1, 23, 46, 0.774) !important;
  width: 200px !important;
  height: 40px !important;
  
}

.accordation > .title{
  color:#2af270 !important;
}

.accordation > .content{
  background-color: #1b2e4283;
}

option {
  background: #2B2B2B;
  color: white;
}

.corner-header{
  margin-left: 18.5%;
  /* width: 80%; */

}

.corner-contnt{
  width:96%;
  margin: auto;
}

.accord{
  position: absolute;
}

#accord-left{
  margin-left: 54%;
}

#accord-mid{
  margin-left: 69%;
}

#accord-right{
  margin-left: 84%;
}

#cornerstone-accordion{
  background-color:rgba(1, 23, 46, 0.997) !important;
    border-radius: 0.1rem !important;
    border-color: white;
    color: white;
    max-height:100%; 
    overflow-y:auto;
}

#cornerstone-accordion > div > .title {
  /* color: #66cfec; */
  color:whitesmoke;
  /* display: inline-block; */
}

/* td{
  width:25%;
} */

#listTitle{
  background: #021c38;
  /* display: inline-block; */
  color:white;
  font-size:x-large;
  height:45px;
}

#line-left{
  display: inline-block;
  box-sizing: border-box;
  width: 2px;
  background-color: #fff;
}

#line-right{
  display: inline-block;
  box-sizing: border-box;
  margin-left: -15px;
  margin-right: 10px;
  width: 2px;
  background-color: #fff;
}

#dropdown{
  background:transparent !important;
  border:1px solid whitesmoke !important;
  color:whitesmoke !important
}
#dropdown>.ui.label{
  background-color: transparent ;
  color: whitesmoke;
  border: 0.5px solid whitesmoke;
}

#dropdown> div > .item{
  /* color: #2af270; */
  color:whitesmoke;
  background: rgba(1, 23, 46, 0.997);
  border: 0.5px solid whitesmoke;
}