.VisualCanvas{
    /* height: 920px; */
    background-image: url(../images/sidebar.png);
    background-size: 50%;
}
.tit2{
    display: inline;
    margin-right: 50%;
    text-align: left;
    font-size: 18px;
    padding-top: 2.8%;
    font-weight: bold;
    letter-spacing: 2px;
    overflow: hidden;
    color: black;
    font-family: '微软雅黑';
}

.tit1{
    display: inline-block;
    margin-left: 10%;
}

.tit3{
    display: inline-block;
}

.total{
    margin: auto;
    width: 90%;
    background: rgb(189, 214, 224);
    box-shadow: 6px 6px 2px 1px rgba(139, 172, 182, 0.74);
    transition: all 0.5s;
    border-radius: 5px;
}

.totalcontnt{
    margin: auto;
    width: 100%;
}

.iconography{
    margin: 30px auto;
    width: 90%;
    background: rgb(189, 214, 224);
    box-shadow: 6px 6px 2px 1px rgba(139, 172, 182, 0.74);
    transition: all 0.5s;
    border-radius: 5px;
}

.iconContnt{
    margin: auto;
    width: 100%;
}