html {
  background-image: url(../images/bg.png);
}
#root {
  height: 100%;
}
#content {
  /* background: url(../images/app-bg.jpg) repeat; */
  height: 100%;
  background-image: url(../images/bg.png);
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
  /* background-size: 100% 100%; */
}
#main {
  /* height: 100%; */
}
#logout-menu {
  min-width: 100px;
  margin-top: 10px;
  background-color: rgb(39, 46, 72);
}
#logout-menu .item {
  color: whitesmoke !important;
}
#logout-menu .item:hover {
  background-color: rgb(40, 46, 94) !important;
}
#footer {
  background: #1b1c1d;
  color: rgba(255, 255, 255, 0.9);
  padding: 1em 1em;
}

#bg-img {
  background-image: url(../images/logo.jpg);
}

/* .banner {
    background-image: url(../images/app-bg.jpg);
} */

.banner {
  background-color: transparent;
}

.inline {
  display: inline-block;
  margin-left: 60px;
  color: #66cfec;
  font-size: 1.4em;
  vertical-align: middle;
  /* float: left;  */
}

#img-size {
  width: 50px;
  height: 50px;
}

#header {
  background-color: rgb(39, 46, 72) !important;
  /* height:10%; */
  /* margin-bottom: 0 !important; */
}
#header > a.item:first-child {
  color: whitesmoke !important;
}

#header > a.item {
  background-color: transparent !important;
  color: rgb(173, 179, 203) !important;
  font-size: 1.2em;
}

#header > a.item:hover {
  border-color: white;
}
#header > .item {
  color: whitesmoke !important;
}
.invisible-login-button {
  visibility: hidden;
}

/* @media screen and (min-width: 2340px)  and (max-width:2660px){
    #main {
        min-height: 1400px;
    }
} */
.popup {
  background-color: rgb(39, 46, 72) !important;
}
.general-confirm-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(39, 46, 72);
}
.general-confirm-info {
  color: whitesmoke;
  font-size: 14px;
}
.general-confirm-operation {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.general-confirm-operation button {
  border-radius: 20px !important;
  color: whitesmoke !important;
  transition: all 0.3s ease;
}
.general-confirm-operation button:hover {
  border-color: #1890ff !important;
  background-color: #1890ff !important;
}
.general-confirm-operation button:focus {
  border-color: #1890ff !important;
  background-color: #1890ff !important;
}

.ant-message-notice-content {
  background-color: rgb(29, 36, 62) !important;
  color: whitesmoke !important;
}
