segment-accordion{
  /* background-color:rgba(1, 23, 46, 0.997) !important; */
  background-color:transparent !important;
  border-radius: 0.1rem !important;
  border-color: white;
  color: white;
  max-height:100%;
  /* overflow-y:auto; */

  /* overflow-y: visible; */
}


#segment-accordion > div > .title {
  /* color: #66cfec; */
  color:whitesmoke;
  /* display: inline-block; */
  /* max-height: 30px; */
  background-color:rgba(1, 23, 46, 0.997) !important;
}

.ui.checkbox label:before{
  background-color:rgba(172, 172, 172, 0.997) !important;
  border:1px solid rgb(255, 255, 255) !important;
}

#segment-accordion > div > .content {
  /* color: #66cfec; */
  color:whitesmoke;
  /* display: inline-block; */
  /* max-height: 30px; */
  background-color:rgba(1, 23, 46, 0.997) !important;
}
.ui.form .field > label{
  color: whitesmoke!important;
}
/* .ui.input {
    position: relative;
    margin-right: -100px;
} */
/* .ui.input > input{
    line-height: normal;
    margin-right: -100px!important;
} */
.funcList .ui.button{
  width: 50px;
  height: 50px;
  font-size: large;
  background-color: #010c29;
  color: rgb(212, 212, 212);
  padding: 0;
}

.segment-container{
  position:relative;
  width:100%;
  min-height:880px;
}
/*
for z-index
canvas: 3
row and column: 2
block: 1
loading: 1
3d-viewer: 0
3d-block: -1
*/
.segment-content{
  position: absolute;
  top: 0;
}
.segment-content-block{
  border:1px solid #364f5b;
  z-index: 1;
}
.segment-content-reset{
  position: absolute;
  top: 10px;
  left: 10px;
  color: gray;
  cursor: pointer;
}
.segment-content-origin{
  position: absolute;
  top: 0;
  right: 5px;
  margin: 0 !important;
}
.segment-content-origin > .ant-slider-handle{
}
#canvas-axial{
  z-index: 3;
}
#canvas-coronal{
  z-index: 3;
}
#canvas-sagittal{
  z-index: 3;
}
.segment-content-3d{
  z-index: -1;
}
.segment-content-row{
  position: absolute;
  height: 16px;
  /*padding: 4px 0;*/
  background-clip: padding-box !important;
  border-top: 2px solid transparent;
  border-bottom: 10px solid transparent;
  z-index: 2;
}
.segment-content-column{
  position: absolute;
  width: 15px;
  /*padding: 0 4px;*/
  background-clip: padding-box !important;
  border-left: 2px solid transparent;
  border-right: 10px solid transparent;
  z-index: 2;
}

/* ticker*/
.loading-list{
  display:flex;
  flex-direction: row;
  z-index: 1;
  padding:10px 0 0 10px;
}
.loading-list-item{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-right:15px;
}
.loading-list-item-info{
  color: gray;
  margin-top:5px;
  width: 32px;
  text-align: center;
}
.loading-container{
  position:relative;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-color:#9699CE;
}
.loading-ticker{
  position: absolute;
  top: 4px;
  left: 10px;
  width: 12px;
  height: 18px;
  z-index: 2;
  border-bottom: 3px solid gray;
  border-right: 3px solid gray;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.loading-ticker-hidden{
  position:absolute;
  top:0;
  right:0;
  width:32px;
  height:32px;
  z-index: 3;
  /*border-radius: 32px;*/
  animation: tickerMove 1.5s linear forwards;
  background-color:#9699CE;
  visibility: visible;
}
@keyframes tickerMove{
  0% {
    width: 32px;
  }
  100% {
    width: 0px;
  }
}
.loading-circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  z-index: 1;
  border-radius: 32px;
  background-color: green;
}
.loading-circle-hidden{
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  z-index: 4;
  border-radius: 32px;
  background-color: white;
  animation: circleMove 0.5s linear forwards;
}
@keyframes circleMove {
  0% {
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
  }
  100% {
    top: 16px;
    left: 16px;
    width: 0px;
    height: 0px;
  }
}

/* progress */
/*.loading-list{*/
/*  position:absolute;*/
/*  top:0;*/
/*  left: 50px;*/
/*  z-index: 0;*/
/*  padding:5px 0 0 15px;*/
/*}*/
/*.loading-list-item {*/
/*  display: block;*/
/*  font-size:25pt;*/
/*}*/
/*.loading-list-progress-container {*/
/*  !*font-size:15pt;*!*/
/*  !*color: #b5b5b5;*!*/
/*  color:white;*/
/*  line-height: 40px;*/
/*}*/
/*.loading-list-progress{*/
/*  width:150px;*/
/*}*/

.segment-list{

}
.segment-list-title{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #021c38 !important;
  color:white !important;
  font-size:x-large;
  line-height: 45px !important;
  height: 45px;
  padding-left:10px;
}
.segment-list-title-button{
  /*font-size: 18px !important;*/
}
.segment-list-title-opts{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 59px;
  right: 17.5px;
}
.segment-list-title-opts-list{
  width:88px;
}
.segment-list-title-opts-list > .item{

}
.segment-list-title-opts-list >.item > .checkbox{
  margin:5px 0 !important;
}
.segment-list-item{
  display: flex;
  flex-direction: row;
  color:white;
}
.segment-list-item-active{
  /*color:#66cfec !important;*/
}
.segment-list-index{
  width:45px;
  padding:10px;
  margin-right:5px;
  text-align:center;
  font-weight:400;
  background-color: rgba(86,239,252,0.3);
  color: rgba(86,239,252,0.99);
  flex:1;
}
.segment-list-content{
  margin-left:10px;
  margin-top:10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  width: -moz-calc(100% - 70px);
  width: -webkit-calc(100% - 70px);
  width: calc(100% - 70px);
}
.segment-list-content-block{
  margin-bottom: 5px;
}
.segment-list-content-name{
}
.segment-list-content-tool{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.segment-list-content-tool-block{
  margin-top:5px;
}
.segment-list-content-input{
  margin-bottom: 10px;
  color:white;
  display:flex;
  flex-direction: row;
  align-items: center;
}
.segment-list-content-input input{
  margin-left:20px;
  -webkit-appearance: none;/*清除系统默认样式*/

  /*width:100px;*/
  /*height:30px;*/
  /*color:rgb(16,16,16);*/
  position: static;
  transform: rotate(0deg);
  height:15px;

  /*cursor:default;*/
  /*border:initial;*/
  width: 80%;
  border-radius: 10px;
  outline: none;
  background: -webkit-linear-gradient(#059CFA, #059CFA) no-repeat;
  background-size: 0% 100%;
}
.segment-list-content-input input::-webkit-slider-thumb {
  -webkit-appearance: none;

  /*background-color: rgb(50, 174, 255);*/
  height: 15px;
  width: 15px;
  margin-top:0px;/*使滑块超出轨道部分的偏移量相等*/
  border-radius: 50%; /*外观设置为圆形*/
  border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
  box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}
.segment-list-content-input input::-webkit-slider-runnable-track {
  height: 15px;
  border-radius: 10px; /*将轨道设为圆角的*/
  box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112;
  background-color: transparent;
}
.segment-list-content-input input:focus {
  outline: none;
}
.list{
  margin-top:0 !important;
  overflow-y:auto;
}
.list >.item{
  border-top:3px solid transparent;
  padding:0 !important;
}
/*.corner-row > .three{*/
/*  padding:0 !important;*/
/*}*/