p {
    display: inline-block;
    font-size: 1.05em;
}

.sid {
    margin-right: 10px;
    margin-left: 10px;
}

.export{
    display: inline-block;
}

.ant-notification-notice-message{
    color:rgba(200, 33, 33);
}

.ant-notification-notice-description{
    color: rgba(219, 40, 40);
}
.seriesId-popup.visible.transition{
    display: none !important;
}

.ui.button .searchCase_tooltip_button{
    background-color: transparent;

}